<div style="overflow: hidden;">
    <h2>Registracija centra i upravnika centra</h2>
    <div class="row">
        
        <div id="col-2-margin" class="col-2"></div>
        <div class="col-8">
            <div ngbAccordion>
                <div ngbAccordionItem [collapsed]="false">
                    <h3 ngbAccordionHeader>
                        <button class="accordion-button" ngbAccordionButton>Centar - osnovne informacije</button>
                    </h3>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>

                                <div class="row">
                                    <div class="col-6">
                                        <label>Naziv:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "centerName" type="text">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>E-mail adresa:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "centerEmail" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Adresa:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "centerAddress" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Grad:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "centerCity" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Država:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "centerCountry" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Broj telefona:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "centerPhone" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Radno vrijeme:</label>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-2">
                                                <label>Od:</label>
                                            </div>
                                            <div class="col-4">
                                                <input [(ngModel)] = "workingTimeFrom" type="text">
                                            </div>
                                            <div class="col-2">
                                                <label>Do:</label>
                                            </div>
                                            <div class="col-4">
                                                <input [(ngModel)] = "workingTimeTo" type="text">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Kapacitet centra:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "centerCapacity" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label style="margin-bottom: -10px;" for="description">Opis centra:</label>
                                    </div>
                                    <div class="col-6">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <textarea [(ngModel)] = "centerDescription" name="description" id="description" rows="3"></textarea>
                                    </div>
                                </div>

                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem>
                    <h3 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            Centar - slika
                        </button>
                    </h3>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <div>

                                    <div id="input-file-button">
                                        <label class="lbl" for="inputTag">
                                            Odaberite sliku
                                            <input id="inputTag" type="file" (change)="selectFile($event)" />
                                        </label>
                                    </div>
                                    <div><img [src]="url" *ngIf="url"></div>
                                </div>

                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem [collapsed]="true">
                    <h3 ngbAccordionHeader>
                        <button ngbAccordionButton>Centar - upravnik</button>
                    </h3>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>


                                <div class="row">

                                    <div class="col-6">
                                        <label>Ime:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "managerName" type="text">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Prezime:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "managerSurname" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>E-mail adresa:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "managerEmail" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Pol:</label>
                                    </div>
                                    <div class="col-6">
                                        <label class="radio-inline">
                                            <input checked (change)="radioButtonChanged('Female')" value="Female" type="radio" name="optradio"> Ženski
                                        </label>
                                        <label class="radio-inline">
                                            <input (change)="radioButtonChanged('Male')" value="Male" type="radio" name="optradio"> Muški
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Adresa stanovanja:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "managerAddress" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Grad:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "managerCity" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Država:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "managerCountry" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Broj telefona:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "managerPhone" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Lozinka:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "managerPassword" type="password">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Potvrda lozinke:</label>
                                    </div>
                                    <div class="col-6">
                                        <input [(ngModel)] = "managerConfirmPassword" type="password">
                                    </div>
                                </div>
                                <div class="row">
                                    <button (click)="register()" class="button">Potvrdi</button>
                                </div>

                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="col-2-margin" class="col-2"></div>
    </div>

</div>