<form [formGroup]="editPasswordForm">
    <div class="row space">
        <div class="col-6">
            <label>Stara lozinka:</label>
        </div>
        <div class="col-6">
            <input class="editable-info" formControlName="oldPassword" required="required" [(ngModel)]="oldPassword"
                type="password" [ngClass]="{'is-invalid': submitted && editPasswordForm.controls.oldPassword.errors}">
            <span *ngIf="submitted && editPasswordForm.controls.oldPassword.errors">
                Neispravan unos
            </span>

        </div>
    </div>
    <div class="row space">
        <div class="col-6">
            <label>Nova lozinka:</label>
        </div>
        <div class="col-6">
            <input class="editable-info" formControlName="password" required="required" [(ngModel)]="password"
                type="password" [ngClass]="{'is-invalid': submitted && editPasswordForm.controls.password.errors}">
            <span *ngIf="submitted && editPasswordForm.controls.password.errors">
                Lozinka mora da sadrži najmanje 9 znakova
                i da predstavlja kombinaciju malih i velikih
                slova i brojeva
            </span>

        </div>
    </div>
    <div class="row space">
        <div class="col-6">
            <label>Potvrda nove lozinke:</label>
        </div>
        <div class="col-6">
            <input class="editable-info" formControlName="confirmPassword" required="required"
                [(ngModel)]="confirmPassword" type="password"
                [ngClass]="{'is-invalid': submitted && editPasswordForm.controls.confirmPassword.errors}">
            <span *ngIf="submitted && confirmPassword != password">
                Lozinke se ne poklapaju
            </span>
        </div>
    </div>
    <div class="row space">
        <button (click)="editPassword()">Izmijeni</button>
    </div>
</form>