<form [formGroup]="editPasswordForm">
    <div class="row space">
        <div class="col-6">
            <label>Lozinka:</label>
        </div>
        <div class="col-6">
            <input class="editable-info" formControlName="password" required="required" [(ngModel)]="password"
                type="password" [ngClass]="{'is-invalid': submitted && editPasswordForm.controls.password.errors}">
            <span *ngIf="submitted && editPasswordForm.controls.password.errors">
                Password must be a combination of lower-case,
                upper-case,
                numbers and at least 9 characters long
            </span>

        </div>
    </div>
    <div class="row space">
        <div class="col-6">
            <label>Potvrda lozinke:</label>
        </div>
        <div class="col-6">
            <input class="editable-info" formControlName="confirmPassword" required="required" [(ngModel)]="confirmPassword"
                        type="password"
                        [ngClass]="{'is-invalid': submitted && editPasswordForm.controls.confirmPassword.errors}">
                    <span *ngIf="submitted && confirmPassword != password">
                        Passwords do not match
                    </span>
        </div>
    </div>
    <div class="row space">
        <button (click)="editPassword()">Izmijeni</button>
    </div>
</form>