<div>
    <h2>Profil</h2>
    <div style="margin: 40px;" class="row" id="bg-image">
        <div class="col-1"></div>
        <div class="col-5">
            <div class="row">
                <img style="width: 400px; height: auto; margin: auto;" [src]="url" alt="">
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div style="background-color: white;" class="box">
                        <input class="info" type="text" disabled [value]="user.name + ' ' + user.surname">
                        <input class="info" type="text" disabled [value]="user.username">
                        <input *ngIf="user.role == 'USER'" type="text" class="info" disabled [value]="user.jmbg">
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="box">
                    <app-user-info-edit [user]="user" (emitUserChanged)="userChanged($event)"></app-user-info-edit>
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <app-user-password-edit></app-user-password-edit>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>