<div class="modal-body">
    <p> Datum: {{event.start | date: 'short'}}</p>
    <p>Trajanje: 30 min</p>
    <p>Centar: {{event.meta.centerName}}</p>
    <p>Adresa: {{event.meta.centerAddress}}</p>
</div>
<div class="modal-footer">
    <button (click)="cancel()" class="cancel">Otkaži</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Zatvori</button>
</div>
<app-error-alert (emitAlertClosed)="closeAlert($event)" [message]="message"
    [alertClosed]="alertClosed"></app-error-alert>