h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-box {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid;
    border-color: #d6b8b8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;

}

p {
    text-align: justify;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.reason{
    text-align: center;
    margin-top: 10px;
}

.reason::before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 35px;
    background-image: url("/assets/list.png");
    background-size: contain;
    background-repeat: no-repeat;
    
}

.reason::after {
    margin-left: 13px;
    content: '';
    display: inline-block;
    height: 25px;
    width: 35px;
    background-image: url("/assets/list.png");
    background-size: contain;
    background-repeat: no-repeat;
    
}

ul li::before{
    content: '';
    display: inline-block;
    height: 25px;
    width: 35px;
    background-image: url("/assets/list.png");
    background-size: contain;
    background-repeat: no-repeat;
    list-style: none;

}

.container-fluid{
    padding-left: 50px;
    padding-right: 50px;
}


.col-1-sm{
    width: 10%;
}

.col-10{
    width: 80%;
}

@media screen and (max-width: 850px) {
    .col-6 {
       width: 100%;
    }

    
    

}