<div class="main-div">
    <h2>Vodič za dobrovoljno davanje krvi</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="text-box">
                    <h4>Ko može dati krv?</h4>
                    <p class="article-text">Davalac krvi može biti svaka zdrava, odrasla osoba, starosti od 18-65 godina
                        kod
                        koje se
                        ljekarskim pregledom i provjerom krvne slike, odnosno nivoa hemoglobina, utvrdi da davanje krvi
                        neće
                        ugroziti
                        ni nju, niti osobu kojoj bi se ta krv primjenila. To znači da je potrebno da se zadovolje
                        sledeći
                        kriterijumi:</p>
                    <ul>
                        <li>Da je osoba zdrava, dobrog opšteg stanja</li>
                        <li>Teža od 50 kg</li>
                        <li>Tjelesne temperature manje do 37°C</li>
                        <li>Pulsa između 50 - 100/min</li>
                        <li>Krvnog pritiska: ne višeg od 24/14 kPa i ne nižeg od 13,3/8,66 kPa</li>
                        <li>Limfne žlezde vrata i pazuha, jetra i slezina ne smeju biti uvećane</li>
                        <li>Hemoglobin mora biti iznad 135 g/L (Hct = 0.38) za muškarce</li>
                        <li>Hemoglobin mora biti iznad 125 g/L (Hct = 0.4) za žene</li>
                        <li>Interval između davanja krvi je 3 mjeseca za muškarce i 4 mjeseca za
                            žene
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="text-box">
                    <h4>Kako se ponašati prije i posle davanja krvi?</h4>
                    <p>
                        Posebna priprema za davanje krvi nije potrebna, kao ni poseban režim posle davanja krvi, ali da
                        bi se što bolje osjećali pri davanju krvi, pogotovo ako je to prvo davanje, određeni savjeti bi
                        mogli da budu od koristi.
                    </p>
                    <p>Preporučuje se da prije davanja krvi osoba bude odmorna, da je prethodne
                        noći spavala uobičajeno (dovoljno), da je uzela lagani obrok
                        i izvjesnu količinu tečnosti- najbolje 4 čaše vode 1-2 sata prije davanja krvi.</p>
                    <p>
                        Posle davanja krvi zavoj na pregibu lakta ne treba skidati sledeća dva sata.
                        Tog dana treba da se unosi tečnosti nešto više nego uobičajeno (za 3-4 čaše vode).
                        Mogu se obavljati uobičajene aktivnosti.
                    </p>
                    <p>Treba izbjegavati teži fizički rad ili vježbe kao što su podizanje tereta, bildovanje, guranje
                        teških predmeta, najmanje 4 sata posle davanja krvi. Izbjegavati žurbu, pušenje bar 2 sata,
                        alkohol bar 8 sati, dugotrajno stajanje, pregrijane prostorije. Tog dana ne kretati kao vozač na
                        dug i naporan put niti obavljati rizičan posao.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>