<div style="margin: 40px;" class="row" id="bg-image">
    <div class="col-1"></div>
    <div class="col-5">
        <div class="center">
            <h4>Dajte krv - spasite život</h4>
            <ul>
                <li class="reason">9.7% građana u Srbiji zavisi od 3% dobrovoljnih davalaca krvi</li>
                <li class="reason">Ne postoji lijek koji može da zamijeni krv</li>
                <li class="reason">Transfuzija krvi nema alternativu</li>
            </ul>
        </div>
    </div>
    <div class="col-5">
        <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="image" src="assets/sl1.jpg" alt="Random first slide" />
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="image" src="assets/sl2.jpg" alt="Random second slide" />
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="image" src="assets/sl3.jpg" alt="Random third slide" />
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="image" src="assets/sl4.jpg" alt="Random third slide" />
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="image" src="assets/sl5.jpg" alt="Random third slide" />
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="image" src="assets/sl6.jpg" alt="Random third slide" />
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="image" src="assets/sl7.jpg" alt="Random third slide" />
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="image" src="assets/sl8.jpg" alt="Random third slide" />
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="image" src="assets/sl9.jpg" alt="Random third slide" />
                </div>
            </ng-template>
        </ngb-carousel>
        <div class="col-1"></div>
    </div>
</div>