<div style="margin: 10px;">
    <h2>Prijava</h2>
    <div class="box">
        <div class="row">
            <div class="col-6">
                <label>E-mail adresa:</label>
            </div>
            <div class="col-6">
                <input [(ngModel)] = "email" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Lozinka:</label>
            </div>
            <div class="col-6">
                <input [(ngModel)] = "password" type="password">
            </div>
        </div>
        <div class="row">
            <button (click)="login()">Uloguj se</button>
        </div>
    </div>
    <app-error-alert (emitAlertClosed)="closeAlert($event)" [message]="message" [alertClosed]="alertClosed"></app-error-alert>
</div>