<form [formGroup]="editCenterForm">
    <div class="row">
        <div class="col-6">
            <label>Naziv:</label>
        </div>
        <div class="col-6">
            <input name="name" formControlName="name" required="required" [(ngModel)]="center.name"
                [ngClass]="{'is-invalid': submitted && editCenterForm.controls.name.errors}">
            <span *ngIf="submitted && editCenterForm.controls.name.errors">
                Neispravan unos
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>E-mail adresa:</label>
        </div>
        <div class="col-6">
            <input type="email" name="email" formControlName="email" required="required" [(ngModel)]="center.email"
                [ngClass]="{'is-invalid': submitted && editCenterForm.controls.email.errors}">
            <span *ngIf="submitted && editCenterForm.controls.email.errors">
                Neispravan unos
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Adresa:</label>
        </div>
        <div class="col-6">
            <input name="address" formControlName="address" required="required" [(ngModel)]="center.address"
                [ngClass]="{'is-invalid': submitted && editCenterForm.controls.address.errors}">
            <span *ngIf="submitted && editCenterForm.controls.address.errors">
                Neispravan unos
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Grad:</label>
        </div>
        <div class="col-6">
            <input name="city" formControlName="city" required="required" [(ngModel)]="center.city"
                [ngClass]="{'is-invalid': submitted && editCenterForm.controls.city.errors}">
            <span *ngIf="submitted && editCenterForm.controls.city.errors">
                Neispravan unos
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Država:</label>
        </div>
        <div class="col-6">
            <input name="country" formControlName="country" required="required" [(ngModel)]="center.country"
                [ngClass]="{'is-invalid': submitted && editCenterForm.controls.country.errors}">
            <span *ngIf="submitted && editCenterForm.controls.country.errors">
                Neispravan unos
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Broj telefona:</label>
        </div>
        <div class="col-6">
            <input name="phoneNumber" formControlName="phoneNumber" required="required" [(ngModel)]="center.phoneNumber"
                [ngClass]="{'is-invalid': submitted && editCenterForm.controls.phoneNumber.errors}">
            <span *ngIf="submitted && editCenterForm.controls.phoneNumber.errors">
                Neispravan unos
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Radno vrijeme:</label>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <label>Od:</label>
                </div>
                <div class="col-4">
                    <input name="workingTimeFrom" formControlName="workingTimeFrom" required="required"
                        [(ngModel)]="center.workingTimeFrom"
                        [ngClass]="{'is-invalid': submitted && editCenterForm.controls.workingTimeFrom.errors}">
                    <span *ngIf="submitted && editCenterForm.controls.workingTimeFrom.errors">
                        Neispravan unos
                    </span>
                </div>
                <div class="col-2">
                    <label>Do:</label>
                </div>
                <div class="col-4">
                    <input name="workingTimeTo" formControlName="workingTimeTo" required="required"
                        [(ngModel)]="center.workingTimeTo"
                        [ngClass]="{'is-invalid': submitted && editCenterForm.controls.workingTimeTo.errors}">
                    <span *ngIf="submitted && editCenterForm.controls.workingTimeTo.errors">
                        Neispravan unos
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Kapacitet centra:</label>
        </div>
        <div class="col-6">
            <input name="capacity" formControlName="capacity" required="required" [(ngModel)]="center.capacity"
                [ngClass]="{'is-invalid': submitted && editCenterForm.controls.capacity.errors}">
            <span *ngIf="submitted && editCenterForm.controls.capacity.errors">
                Neispravan unos
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label style="margin-bottom: -10px;">Opis centra:</label>
        </div>
        <div class="col-6">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <textarea name="description" formControlName="description" required="required"
                [(ngModel)]="center.description"
                [ngClass]="{'is-invalid': submitted && editCenterForm.controls.description.errors}" rows="6"></textarea>
            <span *ngIf="submitted && editCenterForm.controls.description.errors">
                Neispravan unos
            </span>
        </div>
    </div>
    <div class="row">
        <button (click)="editCenterInfo()">Izmijeni</button>
    </div>
</form>
<app-error-alert (emitAlertClosed)="closeAlert($event)" [message]="message"
    [alertClosed]="alertClosed"></app-error-alert>